<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-document-heading" jhiTranslate="insuranceApp.document.home.createOrEditLabel">Create or edit a Document</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!document.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceApp.document.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                    <div *ngIf="editForm.get('title').invalid && (editForm.get('title').dirty || editForm.get('title').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceApp.document.size" for="field_size">Size</label>
                    <input type="number" class="form-control" name="size" id="field_size"
                           formControlName="size"/>
                    <div *ngIf="editForm.get('size').invalid && (editForm.get('size').dirty || editForm.get('size').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('size').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('size')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceApp.document.mimeType" for="field_mimeType">Mime Type</label>
                    <input type="text" class="form-control" name="mimeType" id="field_mimeType"
                           formControlName="mimeType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceApp.document.content" for="field_content">Content</label>
                    <select class="form-control" id="field_content" name="content" formControlName="content">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contentOption.id === editForm.get('content').value?.id ? editForm.get('content').value : contentOption" *ngFor="let contentOption of contents; trackBy: trackContentById">{{contentOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceApp.document.insuranceForm" for="field_insuranceForm">Insurance Form</label>
                    <select class="form-control" id="field_insuranceForm" name="insuranceForm" formControlName="insuranceForm">
                        <option *ngIf="!editForm.get('insuranceForm').value" [ngValue]="null" selected></option>
                        <option [ngValue]="insuranceFormOption.id === editForm.get('insuranceForm').value?.id ? editForm.get('insuranceForm').value : insuranceFormOption" *ngFor="let insuranceFormOption of insuranceforms; trackBy: trackInsuranceFormById">{{insuranceFormOption.applicationGenKey}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('insuranceForm').invalid && (editForm.get('insuranceForm').dirty || editForm.get('insuranceForm').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('insuranceForm').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
